body {
    margin: 0px;
    /* background-color: #041C32; */
}

#map {
    width: 100%;
    height: 50%;
    /* z-index: 100; */
}

#mapSearchContainer {
    position: fixed;
    top: 20px;
    right: 40px;
    height: 30px;
    width: 180px;
    z-index: 110;
    font-size: 10pt;
    color: #5d5d5d;
    border: solid 1px #bbb;
    background-color: #f8f8f8;
}

.pointer {
    position: absolute;
    top: 86px;
    left: 60px;
    z-index: 99999;
}

.geocoder-control-input {
    background-image: url("https://raw.githubusercontent.com/Esri/esri-leaflet-geocoder/master/src/img/search.png");
}


.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
    height: 0vh;
    /* grid-auto-rows: minmax(100px, auto); */
}

.one {
    grid-column: 1/3;
    /* grid-row: 2/8; */
    
    margin: 3vh;
    margin-bottom: 3vh;
    height: 88vh;
    border-radius: 1%;
}

.two {
    height: 100%;
    
    
    overflow: auto;
    /* margin:auto 0; */
    margin-right: 2px;
    grid-column: 3;
    /* grid-row: 1/8; */
}
.marg{
    margin:auto 0;
}
.taxi {
    border-radius: 25px;
    border: 2px solid #a89804;
    background-color: #ffea0077;
}

.bus {
    border-radius: 25px;
    border: 2px solid #059b00;
    background-color: #059b0042;
}
.expired {
    border-radius: 25px;
    border: 2px solid #757575;
    background-color: #79797977;
}
.notexpired {
    border-radius: 25px;
    /* margin-top:10%; */
    margin:auto;
    border: 2px solid #005a66;
    background-color: #0dcaf069;
}
.adr {
    /* font-size: larger; */
    font-weight: bold;
}

.price {
    font-weight: bolder;
    /* font-size: larger; */
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.boxx {
    /* border-color: #FFF3FF; */
    border-width: 3px;

}

.liss:hover{
    background-color:rgba(187, 187, 187, 0.281);
}